<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width">

	<!-- syntax highlighting CSS -->
	<link rel="stylesheet" href="assets/css/syntax.css">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="assets/css/main.css">

</head>
<body>

	<header>
		<h1 class="title"><a href="/">{{ site.name }}</a></h1>
	</header>

	<main>
		{{ content }}
	</main>


	<footer class="footer">
		<p>
			By Marcus Stenbeck
			<span class="pull-right">
				<a class="icon-social icon-github icon-link" href="https://github.com/marcusstenbeck/plix"></a>
				<a class="icon-social icon-twitter icon-link" href="https://twitter.com/marcusstenbeck"></a>
			</span>
		</p>
	</footer>
</body>
</html>
